#######################################
# == BACKEND (Spring Boot / Maven) ==
#######################################

/backend/target/
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings/
backend/*.iml

#######################################
# == FRONTEND (React / Node) ==
#######################################

/frontend/node_modules/
/frontend/.vite/
/frontend/dist/
/frontend/.eslintcache

#######################################
# == INTELLIJ / IDE FILES ==
#######################################

.idea/
*.iml
*.ipr
*.iws

#######################################
# == SYSTEM FILES ==
#######################################

.DS_Store
Thumbs.db
logs/
*.log

#######################################
# == OTHER ==
#######################################

.env
.env.*
